.deck-container {
	font-family: "Helvetica Neue", sans-serif;
	font-size:1.25em;
	background:#fff;
	
	.slide {
		background:#fff;
	}
	
	h1 {
		color:#000;
	}

	h2 {
		color:#c00;
		border-bottom-color:#ccc;
	}

	h3 {
		color:#888;
	}

	pre {
		border-color:#ccc;
	}

	code {
		color:#888;
	}

	blockquote {
		font-size:2em;
		font-style:italic;
		padding:15px 30px;
		color:#000;
		border-left:5px solid #ccc;

		p {
			margin:0;
		}

		cite {
			font-size:.5em;
			font-style:normal;
			font-weight:bold;
			color:#888;
		}
	}
	
	::-moz-selection{ background:#c00; }
	::selection { background:#c00; }
	
	a {
		&, &:active, &:visited {
			color:#c00;
			text-decoration:none;
		}
		
		&:hover, &:focus {
			text-decoration:underline;
		}
	}
	
	.deck-prev-link, .deck-next-link {
		background:#ccc;
		line-height:28px;
		
		&, &:active, &:visited {
			color:#fff;
		}
		
		&:hover, &:focus {
			background:#c00;
			text-decoration:none;
		}
	}
	
	.deck-status {
		font-size:0.6666em;
	}
}
