.deck-menu {
	.slide {
		background:#eee;
		position:relative;
		left:0;
		top:0;
		visibility:visible;
		cursor:pointer;
	}
	
	> .slide {
		.no-csstransforms & {
			float:left;
			width:22%;
			height:22%;
			min-height:0;
			margin:1%;
			font-size:0.22em;
			overflow:hidden;
			padding:0 0.5%;
		}
		
		.csstransforms & {
			-webkit-transform:scale(.22);
			-moz-transform:scale(.22);
			-o-transform:scale(.22);
			-ms-transform:scale(.22);
			transform:scale(.22);
			-webkit-transform-origin:0 0;
			-moz-transform-origin:0 0;
			-o-transform-origin:0 0;
			-ms-transform-origin:0 0;
			transform-origin:0 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width:100%;
			height:100%;
			overflow:hidden;
			padding:0 48px;
			margin:12px;
		}
	}
	
	iframe, img, video {
		max-width:100%;
	}
	
	.deck-current, .no-touch & .slide:hover {
		background:#ddf;
	}
	
	&.deck-container:hover {
		.deck-prev-link, .deck-next-link {
			display:none;
		}
	}
}